body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #212529;
    margin: 0;
    padding: 0;
}

.heading{
    background-color: rgb(24, 65, 87);
    margin: 0;
    padding: 2px;

}

h1{
    color: white;
    text-align: left;
    padding: 8px;
    font-family: "Open Sans", "Gill Sans MT", "Gill Sans", Corbel, Arial, sans-serif !important;
}

.controls{
    margin: 50px 10px;
}

.controls label{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    color: white;
}

.controls input{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}



.controls label , .controls input ,.controls button {
    
    margin: 5px;
   
    
}

.controls input{
    border-radius: 3px;
    border: 1px solid;
    padding: 8px;
    background-color: #cfd7e1; 
}


button{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    padding: 10px 20px;
    color: #e1e4e6;
    background-color: #6b7682;
    opacity: 0.5;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.weather-info{
    margin: 20px auto;
    padding: 20px;
    max-width: 400px;
    color: #dee2e6;
    background-color: #212529;
    border: 1px solid #495057;
    border-radius: 5px;
    text-align: left;
}

.weather-info p{
   
    margin: 2px 0;
    padding: 0;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.chart-container{
    width: 80%;
    margin: 20px auto;
    text-align: center;
    background-color: #212529;
    border: 1px solid #495057;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.chart{
    max-width: 100%;
    height: 400px;
}

